<%= turbo_frame_tag "new_pet" do %>
  <h3>~健康状態記録~</h2>
  <%= form_with(model: [@pet, @status]) do |f| %>
    <div class="field">
      <div class="form">  
        <%= f.text_area :food, placeholder: "食事量(例:10)" %>
      </div>
      <div class="form"> 
        <%= f.text_area :temperature, placeholder: "体温(例:38)" %>
      </div>
      <div class="form">  
        <%= f.text_area :weight, placeholder: "体重(例:2)" %>
      </div> 
    </div>  
    <%= f.submit "記録する"%>
  <% end %>
<% end %>      