<div class="container">
<div class="user-form">
<h2>~編集~</h2>
    <%= form_with(model: @user) do |f| %>
    <div class="form">
      <%= f.label :名前 %>
      <%= f.text_field :name, class: 'form-control' , object: f.object %>
    </div>
    <div class="form">  
      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control', object: f.object %>
    </div>
    <div class="form">  
      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control', object: f.object %>
    </div>
    <div class="form">  
      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, class: 'form-control', object: f.object %>
    </div>  
      <%= f.submit "保存", class: "btn btn-primary", object: f.object %>
    <% end %>
  </div>
</div>
</div>