<div class="container">
  <div class="my-pet">

    <div class="pet-form">
      <% if current_user?(@user) %>
        <h3>~新規ペット~</h2>
        <%= form_with(model: @pet, local: true) do |f| %>
          <div class="field"> 
            <div class="form">  
              <%= f.text_area :name, placeholder: "名前" %>
            </div>
            <div class="form">    
              <%= f.select :sex, [["オス","オス"],["メス","メス"]], include_blank:"性別"%>
            </div>
            <div class="form">  
              <%= f.select :old, [["0","0"],["1","1"],["2","2"],["3","3"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"],["10","10"],["11","11"],["12","12"],["13","13"],["14","14"],["15","15"]], include_blank:"年齢" %>
            </div>
          </div>
          <%= f.submit "追加する"%>
        <% end %>
      <% end %>
    </div>

    <div class="pet-detail">
      <h2>~ペット~</h2>
      <% @pets.each do |pet| %>
        <div class="pet-info">
          <h3>名前: <%= link_to pet.name, pet %></h3>
          <h4>性別: <%= pet.sex %></h4>
          <h4>年齢: <%= pet.old %>歳</h4>
          <h5><%= link_to "訂正", edit_pet_path(current_user) %></li>
        </div>
      <% end %>
    </div>
  
  </div>
</div>