<div class="container">
  <div class="my-pet">

    <div class="pet-form">
    <%= turbo_frame_tag "new_pet" do %>
      <%= link_to 'new' , new_pet_path %>
    <% end %>  
    </div>

    <div class="pet-detail">
      <h2>~ペット~</h2>
      <% @pets.each do |pet| %>
        <div class="pet-info">
          <h3>名前: <%= link_to pet.name, pet %></h3>
          <h4>性別: <%= pet.sex %></h4>
          <h4>年齢: <%= pet.old %>歳</h4>
          <h5><%= link_to "訂正", edit_pet_path(pet) %></li>
          <div>
            <% if current_user?(pet.user) %>
              <button><%= link_to "投稿を削除", pet, data: { "turbo-method": :delete,turbo_confirm: "削除してもよろしいですか？" }, :style=>"color:black;" %></button>
            <% end %>
          </div>  
        </div>
      <% end %>
    </div>
  
  </div>
</div>