<!DOCTYPE html>
<html>
  <head>
    <title>Petapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <% if logged_in? %> 
        <div><p><%= link_to "マイペット", current_user , :style=>"color:white;"%></p></div>
        <div><p><%= link_to "日記", posts_path, :style=>"color:white;" %></p></div>
        <div><p><%= link_to "編集", edit_user_path(current_user), :style=>"color:white;" %></p></div>
        <div><p><%= link_to "ログアウト", logout_path,data: { "turbo-method": :delete }, :style=>"color:white;"  %></p></div>
      <% else %>
        <div><p><%= link_to "ホーム", root_path, :style=>"color:white;" %></p></div>
        <div><p><%= link_to "ログイン", login_path, :style=>"color:white;" %></p></div>
      <% end %>
    </header>
    <div class="flash">
      <% flash.each do |message_type, message| %>
        <h5><%= message %></h5>
      <% end %>
    </div>  
    <%= yield %>   
  </body> 
</html>
